@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

/* Header section */

.header-section{
    width: 100%;
    height: 850px;
    background-image:url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.header-section-title{
    width: 525px;
    height: 228px;
    font-size: 65px;
    line-height: 76px;
    font-weight: 700;
    text-align: right;
    color:#151414;
    position: absolute;
    top: 216px;
    right: 230px;
}

.header-section-description{
    width: 494px;
    height: 78px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #444343;
    text-align: right;
    position: absolute;
    top: 468px;
    right: 230px;
}

.btn{
    font-size: 20px;
    font-weight: 600;
    background-color: #F15B22;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 20px 26px;
    cursor: pointer;
}

.btn:hover{
  background-color: #e65015 ;  
}

.header-button{
    position: absolute;
    top: 578px;
    right: 230px;
}